*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(57, 127, 60);
}

nav{
    height:300px;
    background-color: aliceblue;
    justify-content: center;
    margin-bottom: 2rem;
}

h2{
    border: 1px solid rgb(158, 182, 100);
    background-color: rgb(158, 182, 100);
    font-size: 2em;
    padding: 1em;
}

.indexBox{
    height:4em;
    overflow-y: scroll;
    background-color: aquamarine;
    padding: 0.5em;
    font-size: 2.5em;
}

.logOrSign{
    font-size: 4em;
    align-items: center;
}

.designElements{
    height: 100%;
    width: 10%;
    
}

.choreButton{
    background-color: white;
    height: 100px;
    padding: 1em;
    font-size: 2vw;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 1em;
    border-radius: 10px 10px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}