/* make variables for color names that need to be repeated
perhaps for sizing purposes too */

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Mulish";
}


li{
    list-style-type: none;
    margin: 0px;
    margin-bottom: 1em;
}

body{
    background-color: rgb(57, 127, 60);
}

nav{
    height:300px;
    background-image: url(https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bGlzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60);
    background-size: cover;
    /* background-color: aliceblue; */
    justify-content: center;
    margin-bottom: 2rem;
}

h2{
    border: 1px solid rgb(158, 182, 100);
    background-color: rgb(158, 182, 100);
    font-size: 2em;
    padding: 1em;
    margin-bottom: 1em;
}

.indexBox{
    height:4em;
    overflow-y: scroll;
    background-color: aquamarine;
    padding: 0.5em;
    font-size: 2.5em;
}

.logOrSign{
    font-size: 4em;
    align-items: center;
}

.designElements{
    height: 100%;
    width: 10%;
    
}

.theChoreList{
    height: 300px;
    overflow: scroll;
    font-family: "Quicksand";
}

.choreButton{
    background-color: rgb(143, 89, 89);
    height: 100px;
    padding: 2em;
    font-size: 2vw;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 1em;
    border-radius: 10px 10px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.individualChore{
    /* we'll have to change the stylings, the idea is to have each be it's own individual box. */
    background-color: rgb(37, 168, 172);
    border-radius: 15% 15% 5% 5%;
    width: 50%;
    font-size: 1.5em;
    height:5em;
    padding: 1.5em;
}

.individualChore:hover{
    background-color: white;
}
.choreButton:hover {
    background-color: aliceblue;
    color: yellow;
}
a:hover {
    color: rgb(34, 34, 23);
}

/* p{
    display: flex;
    justify-content: center;
    align-content: center;
} */
/* span:hover{
    height: 2em;
    width: 3em;
} */