*{
    box-sizing: border-box;
}

body{
    background-color: rgb(57, 127, 60);
}

nav{
    height:300px;
    background-color: aliceblue;
    justify-content: center;
    margin-bottom: 2rem;
}

.indexBox{
    height:4em;
    overflow-y: scroll;
    background-color: aquamarine;
    padding: 0.5em;
    font-size: 2.5em;
}

.logOrSign{
    font-size: 4em;
    align-items: center;
}